# Generated from https://openvan.camp/.well-known/openapi.json — do not edit by hand.
# That file is the single source of truth for the public API contract; this is a
# YAML rendering of it kept in the repository for convenience.
openapi: 3.0.3
info:
  title: OpenVan.camp AI Public API
  description: 'Curated read-only OpenAPI schema for AI agents. Use this API to retrieve current vanlife
    news stories, source articles, events, fuel prices, route fuel cost, visa and border rules (including
    temporary vehicle import), currency rates, VanBasket food price index data, and VanSky weather suitability
    data. No authentication is required. Data is CC BY 4.0 and should be attributed to OpenVan.camp. Rate
    limit: 120 requests/minute per IP, except POST /api/route-cost at 30/minute (see X-RateLimit-Limit
    and X-RateLimit-Remaining response headers). Pass `?source=<integration-domain>` for attribution tracking.'
  version: 1.2.0
  termsOfService: https://openvan.camp/en/terms
  contact:
    name: OpenVan.camp
    email: hello@openvan.camp
    url: https://openvan.camp/en/developers
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  x-rateLimit:
    requests: 120
    window: 1m
    scope: per-ip
    response-headers:
      X-RateLimit-Limit: Allowed requests per window
      X-RateLimit-Remaining: Remaining requests in current window
    exceptions:
      POST /api/route-cost: 30 requests/minute
  x-attribution:
    required: false
    recommended: true
    parameter: source
    format: domain-or-app-name
    description: Include ?source=<your-domain-or-app-name> in every request. Helps OpenVan.camp track
      AI adoption and credit integrations in public reports.
    citation: OpenVan.camp (retrieved YYYY-MM-DD). https://openvan.camp
  x-changelog: https://openvan.camp/api/changelog.json
servers:
- url: https://openvan.camp
  description: Production
tags:
- name: Stories
  description: Aggregated vanlife news stories translated into multiple languages.
- name: Events
  description: Vanlife events, exhibitions, festivals, meetups, road trips and related source articles.
- name: Fuel Prices
  description: Current retail fuel prices by country.
- name: Currency Rates
  description: Exchange rates relative to EUR.
- name: VanBasket
  description: Food price index by country, relative to world average.
- name: VanSky
  description: Weather suitability data for van travel.
- name: Visa
  description: 'Visa and border rules: entry mode, length of stay, counting window, temporary vehicle
    import.'
paths:
  /api/stories:
    get:
      tags:
      - Stories
      operationId: listStories
      summary: List vanlife news stories
      description: Returns a paginated list of active vanlife news stories. Titles and summaries are localized.
        Add source=<integration-name-or-domain> for attribution tracking.
      parameters:
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      - name: category
        in: query
        description: 'Category slug. One of: lifestyle, industry, incident, opening, closing, law, builds,
          festival, expo, review, ban, other.'
        schema:
          type: string
      - name: country
        in: query
        description: ISO 3166-1 alpha-2 country code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: DE
      - name: search
        in: query
        description: Full-text search by story title.
        schema:
          type: string
        example: vanlife festival
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/StoryLimit'
      responses:
        '200':
          description: Paginated story list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoriesResponse'
  /api/story/{slug}:
    get:
      tags:
      - Stories
      operationId: getStory
      summary: Get one vanlife news story
      description: Returns one story with localized title and summary, plus original source articles.
      parameters:
      - $ref: '#/components/parameters/StorySlug'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Story details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/events:
    get:
      tags:
      - Events
      operationId: listEvents
      summary: List vanlife events
      description: Returns a paginated list of vanlife events. Useful for exhibitions, festivals, meetups,
        rallies, expos and road trips.
      parameters:
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      - name: status
        in: query
        description: Event time status.
        schema:
          type: string
          enum:
          - upcoming
          - ongoing
          - past
          - all
          default: upcoming
      - name: type
        in: query
        description: Event type.
        schema:
          type: string
          enum:
          - expo
          - festival
          - forum
          - meetup
          - roadtrip
      - name: country
        in: query
        description: ISO 3166-1 alpha-2 country code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: DE
      - name: search
        in: query
        description: Search by event name.
        schema:
          type: string
        example: Caravan Salon
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/EventLimit'
      responses:
        '200':
          description: Paginated event list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
  /api/event/{slug}:
    get:
      tags:
      - Events
      operationId: getEvent
      summary: Get one vanlife event
      description: Returns event details including dates, location, description, official URL, social
        links and localized fields.
      parameters:
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/event/{slug}/articles:
    get:
      tags:
      - Events
      operationId: getEventArticles
      summary: Get source articles for one event
      description: Returns source articles linked to the event. If no articles match the requested locale,
        all published source articles may be returned.
      parameters:
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Event source articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SourceArticle'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/fuel/prices:
    get:
      tags:
      - Fuel Prices
      operationId: getFuelPrices
      summary: Get current fuel prices by country
      description: Returns current retail fuel prices by country. Price keys follow the runtime FuelGradeCatalog::ORDER
        plus the legacy premium alias. Prices are cached and include source attribution.
      x-fuel-price-keys:
      - gasoline_regular
      - gasoline
      - gasoline_premium
      - gasoline_super
      - diesel_regular
      - diesel
      - diesel_premium
      - lpg
      - cng
      - e85
      - kerosene
      - premium
      parameters:
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Fuel prices by country code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelPricesResponse'
  /api/currency/rates:
    get:
      tags:
      - Currency Rates
      operationId: getCurrencyRates
      summary: Get exchange rates
      description: Returns exchange rates for 150+ currencies relative to EUR.
      parameters:
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Currency rates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyRatesResponse'
  /api/vanbasket/countries:
    get:
      tags:
      - VanBasket
      operationId: listVanBasketCountries
      summary: List VanBasket food price index by country
      description: Returns food price index for countries relative to world average. World average is
        100.
      parameters:
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: VanBasket countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanBasketCountriesResponse'
  /api/vanbasket/compare:
    get:
      tags:
      - VanBasket
      operationId: compareVanBasketCountries
      summary: Compare food prices between two countries
      description: Compares VanBasket food price index values between two countries.
      parameters:
      - $ref: '#/components/parameters/Source'
      - name: from
        in: query
        required: true
        description: Home country ISO 3166-1 alpha-2 code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: DE
      - name: to
        in: query
        required: true
        description: Destination country ISO 3166-1 alpha-2 code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: TR
      responses:
        '200':
          description: VanBasket comparison
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanBasketCompareResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/vanbasket/countries/{code}:
    get:
      tags:
      - VanBasket
      operationId: getVanBasketCountry
      summary: Get VanBasket country details
      description: Returns VanBasket data and historical snapshots for one country.
      parameters:
      - $ref: '#/components/parameters/CountryCode'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: VanBasket country details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanBasketCountryResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/vansky/weather:
    get:
      tags:
      - VanSky
      operationId: listVanSkyWeather
      summary: List VanSky weather suitability by country
      description: Returns country-level weather suitability data for van travel.
      responses:
        '200':
          description: VanSky countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanSkyCountriesResponse'
  /api/vansky/weather/{code}:
    get:
      tags:
      - VanSky
      operationId: getVanSkyCountryWeather
      summary: Get VanSky weather suitability for one country
      description: Returns detailed VanSky weather suitability data for one ISO 3166-1 alpha-2 country
        code.
      parameters:
      - $ref: '#/components/parameters/CountryCode'
      responses:
        '200':
          description: VanSky country details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanSkyCountryResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/news/search:
    get:
      tags:
      - Stories
      operationId: searchStories
      summary: Semantic news search
      description: Semantic (embedding) search over aggregated news stories — the same engine as the on-site
        search. Returns stories ranked by similarity, in the same shape as /api/stories.
      parameters:
      - name: q
        in: query
        required: true
        description: Search query.
        schema:
          type: string
        example: ford camper 2026
      - $ref: '#/components/parameters/Locale'
      - name: limit
        in: query
        required: false
        description: Max results, 1-15. Defaults to 8.
        schema:
          type: integer
        example: '8'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Matching stories ranked by similarity
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/news/digest:
    get:
      tags:
      - Stories
      operationId: getNewsDigest
      summary: Daily news digest
      description: Structured daily news digest assembled once per evening. Available for en and ru; returns
        204 when no digest exists yet for the locale.
      parameters:
      - name: locale
        in: query
        required: false
        description: 'Digest language: en or ru. Defaults to ru.'
        schema:
          type: string
        example: en
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Digest groups with stories
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '204':
          description: No digest for this locale yet
  /api/route-cost:
    post:
      tags:
      - Fuel Prices
      operationId: calculateRouteCost
      summary: Fuel cost for a route
      description: 'Fuel cost for a route of 2-10 waypoints given by place name: per-country prices along
        the way, refuel suggestions near borders, and the total in the requested currency.'
      parameters:
      - $ref: '#/components/parameters/Source'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - waypoints
              properties:
                waypoints:
                  type: array
                  items:
                    type: string
                  minItems: 2
                  maxItems: 10
                  description: Place names in travel order.
                  example:
                  - Berlin
                  - Prague
                tank:
                  type: number
                  description: Tank volume, litres.
                  example: 80
                cons:
                  type: number
                  description: Consumption, litres per 100 km.
                  example: 10
                fuel:
                  type: string
                  description: diesel | gasoline | lpg.
                  example: diesel
                currency:
                  type: string
                  description: ISO 4217 code for the total.
                  example: EUR
                locale:
                  type: string
                  description: Language of country names.
                  example: en
      responses:
        '200':
          description: Route legs, per-country fuel cost and total
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/visa/check:
    get:
      tags:
      - Visa
      operationId: checkVisa
      summary: Entry rules for one passport and destination
      description: Entry mode, allowed length of stay, how the days are counted (per entry or in a rolling
        window), whether a visa run resets the counter, plus temporary vehicle import and green card rules.
        Every answer carries its source layer and confidence.
      parameters:
      - name: passport
        in: query
        required: true
        description: ISO 3166-1 alpha-2 code of the passport.
        schema:
          type: string
        example: RU
      - name: destination
        in: query
        required: true
        description: ISO alpha-2 code, slug or zone code of the destination.
        schema:
          type: string
        example: TR
      - name: weight
        in: query
        required: false
        description: 'Vehicle weight class for the vehicle rule: le35 (<=3.5t) or gt35.'
        schema:
          type: string
        example: le35
      - name: plate
        in: query
        required: false
        description: 'Vehicle plate origin for the vehicle rule: eu, non_eu, eaeu, third.'
        schema:
          type: string
        example: third
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Entry rules for the pair
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/visa/route:
    get:
      tags:
      - Visa
      operationId: checkVisaRoute
      summary: Visa rules for a whole route
      description: Rules for every country of a route in one call, for up to 10 passports at once. Returns
        the bottleneck leg when a single passport is requested.
      parameters:
      - name: t
        in: query
        required: true
        description: Countries in travel order, comma separated ISO alpha-2 codes, slugs or zone codes.
          Up to 12.
        schema:
          type: string
        example: RU,GE,TR
      - name: p
        in: query
        required: false
        description: Passports to answer for, comma separated, up to 10. Defaults to the set matching
          locale.
        schema:
          type: string
        example: RU,BY,KZ
      - name: w
        in: query
        required: false
        description: 'Vehicle weight class: le35 or gt35.'
        schema:
          type: string
        example: le35
      - name: plate
        in: query
        required: false
        description: 'Vehicle plate origin for the vehicle rule: eu, non_eu, eaeu, third.'
        schema:
          type: string
        example: third
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Per-leg rules, bottleneck and passports
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/visa/rank:
    get:
      tags:
      - Visa
      operationId: getPassportRanking
      summary: Passport ranking by visa-free access
      description: All 199 passports ranked by the number of destinations reachable without a visa.
      parameters:
      - name: limit
        in: query
        required: false
        description: How many rows to return, 1-199. Defaults to all.
        schema:
          type: integer
        example: '10'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Ranked passports
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/visa/history:
    get:
      tags:
      - Visa
      operationId: getVisaHistory
      summary: Change log of the visa dataset
      description: What changed in the visa data, when, and from which source. Use it to tell a rule update
        from a data correction.
      parameters:
      - name: subject_type
        in: query
        required: false
        description: 'Filter: requirement, window, window_exception, curated_rule, vehicle_rule, place.'
        schema:
          type: string
        example: requirement
      - name: subject_key
        in: query
        required: false
        description: Filter by subject, e.g. RU>TR for a pair or TR for a place.
        schema:
          type: string
        example: RU>TR
      - name: since
        in: query
        required: false
        description: ISO date, only changes on or after it.
        schema:
          type: string
        example: '2026-01-01'
      - name: limit
        in: query
        required: false
        description: Rows to return, 1-500. Defaults to 100.
        schema:
          type: integer
        example: '50'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Dataset changes, newest first
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/visa/passport/{code}:
    get:
      tags:
      - Visa
      operationId: getPassportDestinations
      summary: All destinations for one passport
      description: 199 destinations resolved through the full rule chain, sorted by name, with counts
        by entry mode in meta.
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 code of the passport.
        schema:
          type: string
        example: DE
      - name: mode
        in: query
        required: false
        description: 'Filter by entry mode: visa_free, visa_required, e_visa, eta, voa, no_admission.'
        schema:
          type: string
        example: visa_free
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Destinations for the passport
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
  /api/visa/map/{code}:
    get:
      tags:
      - Visa
      operationId: getVisaMap
      summary: Entry mode per country for one passport
      description: 'Compact payload for colouring a world map: m — entry mode, d — visa-free days if known.'
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 code of the passport.
        schema:
          type: string
        example: DE
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Entry mode per destination
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
  /api/visa/vehicle/{place}:
    get:
      tags:
      - Visa
      operationId: getVehicleImportRules
      summary: Temporary vehicle import rules for a country
      description: 'Temporary admission rules for a foreign-plated vehicle: allowed days, whether the
        limit is per entry or in a window, carnet requirement, green card. Only rules backed by an official
        source or verification are returned; an unverified country returns an empty list rather than a
        guess.'
      parameters:
      - name: place
        in: path
        required: true
        description: ISO alpha-2 code, slug or zone code.
        schema:
          type: string
        example: georgia
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Vehicle import rules
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Locale:
      name: locale
      in: query
      description: Language for localized fields. Defaults to en.
      schema:
        type: string
        enum:
        - en
        - ru
        - de
        - fr
        - es
        - pt
        - tr
        default: en
    Source:
      name: source
      in: query
      description: Optional integration name or domain for attribution tracking.
      schema:
        type: string
        maxLength: 100
      example: myapp.com
    Page:
      name: page
      in: query
      description: Page number.
      schema:
        type: integer
        minimum: 1
        default: 1
    StoryLimit:
      name: limit
      in: query
      description: Stories per page. Maximum 50.
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 20
    EventLimit:
      name: limit
      in: query
      description: Events per page. Maximum 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 30
    StorySlug:
      name: slug
      in: path
      required: true
      description: Story slug.
      schema:
        type: string
      example: adac-camper-des-jahres-der-wettbewerb-fuer
    EventSlug:
      name: slug
      in: path
      required: true
      description: Event slug.
      schema:
        type: string
      example: adventure-northside-2026
    CountryCode:
      name: code
      in: path
      required: true
      description: ISO 3166-1 alpha-2 country code.
      schema:
        type: string
        minLength: 2
        maxLength: 2
      example: DE
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Attribution:
      type: object
      properties:
        data_source:
          type: string
          example: openvan.camp
        license:
          type: string
          example: CC BY 4.0
        attribution_url:
          type: string
          format: uri
          example: https://openvan.camp/
        attribution_html:
          type: string
        your_source:
          type: string
    Pagination:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        pages:
          type: integer
    Country:
      type: object
      properties:
        code:
          type: string
          example: de
        slug:
          type: string
          example: germany
        name:
          type: string
          example: Germany
        flag_emoji:
          type: string
    Category:
      type: object
      properties:
        slug:
          type: string
          example: festival
        name:
          type: string
          example: Festivals
    SourceArticle:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        summary:
          type: string
          nullable: true
        original_url:
          type: string
          format: uri
        source_name:
          type: string
        published_at:
          type: string
          format: date-time
          nullable: true
        language:
          type: string
        image_url:
          type: string
          format: uri
          nullable: true
    StorySummary:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        summary:
          type: string
          nullable: true
        image_url:
          type: string
          format: uri
          nullable: true
        category:
          $ref: '#/components/schemas/Category'
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        first_published_at:
          type: string
          format: date-time
          nullable: true
        articles_count:
          type: integer
        url:
          type: string
          format: uri
    Story:
      allOf:
      - $ref: '#/components/schemas/StorySummary'
      - type: object
        properties:
          last_updated_at:
            type: string
            format: date-time
            nullable: true
          sources:
            type: array
            items:
              $ref: '#/components/schemas/SourceArticle'
          _attribution:
            $ref: '#/components/schemas/Attribution'
    StoriesResponse:
      type: object
      properties:
        stories:
          type: array
          items:
            $ref: '#/components/schemas/StorySummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
        _attribution:
          $ref: '#/components/schemas/Attribution'
    EventSummary:
      type: object
      description: Compact event object returned by the list endpoint /api/events.
      properties:
        id:
          type: integer
        slug:
          type: string
        event_name:
          type: string
        event_type:
          type: string
        event_type_label:
          type: string
        event_type_emoji:
          type: string
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        city:
          type: string
          nullable: true
        country_code:
          type: string
          nullable: true
        country:
          $ref: '#/components/schemas/Country'
        venue_name:
          type: string
          nullable: true
        image_url:
          type: string
          format: uri
          nullable: true
        status:
          type: string
        quality_score:
          type: number
          nullable: true
        articles_count:
          type: integer
          nullable: true
        url:
          type: string
          format: uri
    Event:
      allOf:
      - $ref: '#/components/schemas/EventSummary'
      - type: object
        description: Full event object returned by /api/event/{slug}.
        properties:
          venue_address:
            type: string
            nullable: true
          latitude:
            type: number
            nullable: true
          longitude:
            type: number
            nullable: true
          description:
            type: string
            nullable: true
          summary:
            type: string
            nullable: true
          official_url:
            type: string
            format: uri
            nullable: true
          social_links:
            type: object
            additionalProperties: true
          organizer:
            type: string
            nullable: true
          admission_price:
            type: string
            nullable: true
          seo_title:
            type: string
            nullable: true
          seo_description:
            type: string
            nullable: true
          seo_og_title:
            type: string
            nullable: true
          seo_og_description:
            type: string
            nullable: true
          _attribution:
            $ref: '#/components/schemas/Attribution'
    EventsResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventSummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
        _attribution:
          $ref: '#/components/schemas/Attribution'
    FuelPricesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FuelCountry'
        meta:
          type: object
          additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    FuelCountry:
      type: object
      properties:
        country_code:
          type: string
          example: DE
        country_name:
          type: string
          example: Germany
        region:
          type: string
          nullable: true
        currency:
          type: string
          example: EUR
        local_currency:
          type: string
          nullable: true
        unit:
          type: string
          example: liter
        prices:
          type: object
          description: 'Current price map. Canonical keys: gasoline_regular, gasoline, gasoline_premium,
            gasoline_super, diesel_regular, diesel, diesel_premium, lpg, cng, e85, kerosene, premium.'
          additionalProperties:
            type: number
            nullable: true
        price_changes:
          type: object
          description: Weekly price deltas using the same keys as prices.
          additionalProperties:
            type: number
            nullable: true
        fetched_at:
          type: string
          format: date-time
          nullable: true
        sources:
          type: array
          items:
            type: string
        sources_count:
          type: integer
        is_excluded:
          type: boolean
    CurrencyRatesResponse:
      type: object
      properties:
        success:
          type: boolean
        rates:
          type: object
          additionalProperties:
            type: number
        meta:
          type: object
          properties:
            count:
              type: integer
              description: Number of currencies returned.
            base:
              type: string
              example: EUR
            updated_at:
              type: string
              format: date-time
            refreshed_every_hours:
              type: integer
              example: 6
            max_age_seconds:
              type: integer
              example: 90000
            scope:
              type: string
              description: fiat (default) or all when ?include=all.
              example: fiat
            overrides:
              type: object
              description: Currencies where a market rate replaces the official fixing (e.g. CUP), with
                reason and source.
              additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    VanBasketCountriesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties:
            type: object
            additionalProperties: true
        meta:
          type: object
          additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    VanBasketCompareResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    VanBasketCountryResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    VanSkyWeather:
      type: object
      description: Current-day weather snapshot used for van scoring.
      properties:
        temp_day:
          type: number
          description: Daytime air temperature in °C.
          nullable: true
        temp_night:
          type: number
          description: Nighttime air temperature in °C.
          nullable: true
        feels_like_day:
          type: number
          nullable: true
        feels_like_night:
          type: number
          nullable: true
        temp_current:
          type: number
          nullable: true
        feels_like_current:
          type: number
          nullable: true
        precip_sum:
          type: number
          description: Total precipitation in mm.
          nullable: true
        precip_prob_max:
          type: number
          description: Max precipitation probability in %.
          nullable: true
        wind_max:
          type: number
          description: Max sustained wind km/h.
          nullable: true
        wind_gusts_max:
          type: number
          description: Max wind gust km/h.
          nullable: true
        wind_dir:
          type: number
          description: Wind direction in degrees.
          nullable: true
        shortwave_radiation_sum:
          type: number
          nullable: true
        peak_sun_hours:
          type: number
          description: Effective sunlight hours for solar panels.
          nullable: true
        uv_max:
          type: number
          nullable: true
        sunrise:
          type: string
          format: date-time
          nullable: true
        sunset:
          type: string
          format: date-time
          nullable: true
        weather_code:
          type: integer
          description: WMO weather code.
          nullable: true
        humidity:
          type: number
          nullable: true
        cloud_cover:
          type: number
          nullable: true
    VanSkyMarine:
      type: object
      description: Marine data for coastal countries; null for landlocked.
      properties:
        sea_temp:
          type: number
          description: Sea temperature in °C.
          nullable: true
        wave_height:
          type: number
          description: Wave height in meters.
          nullable: true
        wave_dir:
          type: number
          description: Wave direction in degrees.
          nullable: true
        wave_period:
          type: number
          description: Wave period in seconds.
          nullable: true
    VanSkyForecastDay:
      type: object
      description: Single forecast day snapshot.
      properties:
        date:
          type: string
          format: date
        van_score:
          type: integer
          description: Overall vanlife suitability 0-100.
          minimum: 0
          maximum: 100
        sleep_score:
          type: integer
          description: Overnight comfort 0-100.
          minimum: 0
          maximum: 100
        temp_day:
          type: number
          nullable: true
        temp_night:
          type: number
          nullable: true
        solar_kwh:
          type: number
          description: Estimated solar energy kWh/day per 1kW panel.
          nullable: true
        weather_code:
          type: integer
          nullable: true
        score_label:
          type: string
          enum:
          - ideal
          - comfortable
          - acceptable
          - harsh
          - extreme
        drive_score:
          type: integer
          minimum: 0
          maximum: 100
    VanSkyRecommendation:
      type: object
      properties:
        type:
          type: string
          enum:
          - info
          - warning
          - danger
          - tip
        key:
          type: string
          description: Translation key, e.g. vansky.rec.awning_caution.
        params:
          type: object
          additionalProperties: true
          description: Numeric params for the translated message.
    VanSkyCountry:
      type: object
      properties:
        code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: DE
        is_coastal:
          type: boolean
        region:
          type: string
          example: europe
        weather:
          $ref: '#/components/schemas/VanSkyWeather'
        marine:
          $ref: '#/components/schemas/VanSkyMarine'
        forecast:
          type: array
          items:
            $ref: '#/components/schemas/VanSkyForecastDay'
          description: Up to 7 days ahead.
        van_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Today's overall van suitability.
        sleep_score:
          type: integer
          minimum: 0
          maximum: 100
        solar_kwh:
          type: number
          description: Today's solar yield estimate.
          nullable: true
        solar_score:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        drive_score:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        sea_score:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        score_label:
          type: string
          enum:
          - ideal
          - comfortable
          - acceptable
          - harsh
          - extreme
        condensation_risk:
          type: string
          enum:
          - low
          - medium
          - high
          description: Overnight condensation risk inside van.
        awning_status:
          type: string
          enum:
          - safe
          - caution
          - retract
          description: Whether it is safe to deploy an awning.
        drive_window:
          type: object
          nullable: true
          description: Suggested safe driving window today.
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        best_move_day:
          $ref: '#/components/schemas/VanSkyForecastDay'
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/VanSkyRecommendation'
        fetched_at:
          type: string
          format: date-time
          nullable: true
    VanSkyCountriesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/VanSkyCountry'
        count:
          type: integer
        updated_at:
          type: string
          format: date-time
          nullable: true
        source:
          type: string
          description: Data provider, e.g. open-meteo.
    VanSkyCountryResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/VanSkyCountry'
        updated_at:
          type: string
          format: date-time
          nullable: true
        source:
          type: string
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
        error:
          type: string
        message:
          type: string
